<body style="background-image: url('./assets/sushifond.jpeg'); background-repeat: no-repeat; background-size: cover;">
  <div class="wrapper min-vh-100 container-fluid p-2 row mx-100 border m-1">
    <div class="col-8 p-3  ">

      <div class="row">
        <div class="grid1 grid col-4 p-5 "> <button class="btn btn-lg btn-block"> <a routerLink="menu"><img
                src="./assets/menu.png" class="no-outline" style="height: 100px; width: 100px;"></a></button></div>
        <div class="grid2 grid col p-5">
          <button class="btn btn-lg btn-block"><img src="./assets/emporter.png" class="no-outline"
              style=" height: 100px; width: 100px;"></button>
          <button class="btn btn-lg btn-block mt-3"><img src="./assets/surplace.png" class="no-outline"
              style=" height: 100px; width: 100px;"></button>
        </div>
      </div>
      <div class="row">
        <div class="grid3 grid col-8 p-5 ">
          <div class="h-100 d-flex justify-content-center">
             <h2 class="my-auto">Prix total</h2>
          </div>
         
        </div>
        <div class="grid4 grid col"><img style=" height: 100%; width: 100%;" src="./assets/logo_sushi.png"
            class="no-outline"></div>
      </div>
      <div id="" class="row">
        <div class="grid5 grid p-5 ">
          <h2>Politique de Confidentialite</h2>
        </div>
      </div>

    </div>
    <div class="col p-3">
      <h1> Panier</h1>

    </div>
  </div>
</body>