<body style="background-image: url('../assets/sushifond.jpeg'); background-repeat: no-repeat; background-size: cover;">
  <div class="wrapper min-vh-100 container-fluid p-2 row mx-100 border">
    <div class="col-8 p-3  ">
     
        <div class="row">
          <div class="grid1 col-4 p-5 "> <button class="btn btn-lg btn-block"> <a routerLink="menu"><img
                  src="../assets/menu.png" class="no-outline" style="height: 100px; width: 100px;"></a></button></div>
          <div class="grid2 col p-5">
            <button class="btn btn-lg btn-block"><img src="../assets/emporter.png" class="no-outline"
                style=" height: 100px; width: 100px;"></button>
            <button class="btn btn-lg btn-block mt-3"><img src="../assets/surplace.png" class="no-outline"
                style=" height: 100px; width: 100px;"></button>
          </div>
        </div>
        <div class="row">
          <div class="grid3 col-8 p-5">Prix total</div>
          <div class="grid4 col"><img src="../assets/logo_sushi.png" class="no-outline"></div>
        </div>
        <div id="" class="row" >
          <div class="grid5 p-5 ">Politique de Confidentialite</div>
        </div>

    </div>
    <div class="col p-3">
      Panier
    </div>
  </div>
</body>
